<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>projectName</key>
	<string>Sample1</string>
	<key>projectCreationdate</key>
	<string>1443104252150</string>
	<key>appToken</key>
	<string>B0i31jzgj3jwlX/54JhOaxabc/iNHnOOYyIl4fZwL7V8LUx7/KXnKvnWvgH54FaOggZtn7z07mYIB2rag3ZAQm5nwHxo5wQGRa0cIPB3lu7/UJY1ETe2IvU5hkeCsOWkoK0ki73LlvL6isATzmbrVlKWE0xz8UPjGs9aUbHL8oFRibfxMUYn8msz7CrFxuqTThhcs7OMmdO6QRPDu9wPv4pfen8oN3walhpmklp6mMD22s/y2OV/Yzp8Hg7OqaqqK01uyVAbTTFjBKGGzbIpSCT0O5pZNxVBsUdPrssI8ef2YWfNkQS+PpGiRboWryVSm5wILNh7mS05/1NMm0GbPQ==</string>
</dict>
</plist>
